/* stylesheet for shop.pixelplanettoday.com */

/* random from Square backend */
:root{
  --primary-font:'VT323', monospace!important; --secondary-font:'VT323', monospace!important; --body-font:'VT323', monospace!important; --ui-font:'VT323', monospace!important; --title-font:'Press Start 2P', sans-serif!important; --font-step-minus-1-size:16px!important; --input-border-radius:0!important
}


/* ///////////////////////////////////////////////////// */
/* PAGE TYPOGRAPHY */
/* ///////////////////////////////////////////////////// */
/* general typography */
*{
  font-family: 'VT323', monospace!important;
  font-size:22px!important;
}
p{
  font-size: 22px!important;
  line-height: 1.3em;
}
a{
  color:currentColor;
  transition:opacity .25s ease-in-out;
}
a:hover{
  opacity:.6;
}
button,
a[type='button'],
button *,
a[type='button'] *{
    font-family: 'Press Start 2P', sans-serif!important;
    text-transform:uppercase!important;
    border-radius:0!important;
    font-size:15px!important;
}
input[type='text']{
  border-radius:0!important
}
select{
  border-radius:0!important;
}

/* specific typography; shared */
.product__title h1,
.category__title h3 {
  font-family: 'Press Start 2P', sans-serif!important;
  text-transform: uppercase;
  /* font-size: 30px!important; */
  font-size: 20px!important;
  line-height: 1.7!important;
}



/* ///////////////////////////////////////////////////// */
/* PAGE ELEMENTS */
/* ///////////////////////////////////////////////////// */

/* nav/search bar */
/* cart */
.icon.header__cart{
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://www.pixelplanettoday.com/img/ui/cart-icon-white.png);
}
.icon.header__cart svg{
  opacity:0;
}
/* number of items in cart badge */
.square__icons-cart_iconCartNumber--3Rp4f{
  color:white!important;
}

/* search */
.search-bar *{
  border:none!important;
}
.search-bar input{
  color: inherit;
  font-family: 'Press Start 2P', sans-serif;
  font-size: inherit;
  width: 100%;
  display: block;
  background-color: transparent;
  max-width: 100%;
  padding-bottom: 10px!important;
  border: none;
  border-bottom: 3px solid currentColor!important;
  text-overflow: ellipsis;
}
/* hide helper icons next to input */
.search-bar input ~ span{
  display:none;
}
/* _____________________________ */

/* footer */
/* pixel facebook and instagram icons */
/* hide default svgs */
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d svg{
  opacity:0!important;
}
/* set shared image styles from Pixel website */
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d a[href*="facebook.com"],
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d a[href*="instagram.com"]{
  background-image:url("https://www.pixelplanettoday.com/img/icons/social-spritesheet.png");
  background-size: 600%;
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  display:inline-block;
  vertical-align:middle;
  margin:0 3px;
}
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d a[href*="facebook.com"]{
  background-position:-198px 0px;
}
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d a[href*="instagram.com"]{
  background-position:-2px 0px;
}
/* _____________________________ */



/* ///////////////////////////////////////////////////// */
/* SHARED PAGE; ITEM */
/* ///////////////////////////////////////////////////// */

/* slideshow arrows */
/* going with default ones because it keeps changing... */
/* add to cart button */
.cart-button{
  font-size:12px!important;
}
.cart-button span{
  overflow:inherit;
}
/* product description */
.product-description header{
  font-family:'Press Start 2P', sans-serif!important; text-transform:uppercase;
  font-size:12px!important;
}



/* ///////////////////////////////////////////////////// */
/* SPECIFIC PAGE; HOME */
/* ///////////////////////////////////////////////////// */
[data-block-purpose*='mission'] h2{
  font-family:'VT323', monospace!important;
  font-size:40px!important;
}


/* ///////////////////////////////////////////////////// */
/* SPECIFIC PAGE; SEARCH RESULTS */
/* ///////////////////////////////////////////////////// */





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* OLD; MIGHT NOT NEED ANY MORE/NEEDS SORTED */

/* no longer works as of 7/5/2023 */
/* .carousel__arrow svg{opacity:0} .carousel__arrow > div{background-position:center!important; background-size: 40%!important; background-repeat: no-repeat!important;} .carousel__arrow.carousel__arrow--right > div{background-image:url(https://www.pixelplanettoday.com/img/ui/right-arrow-icon-white.png)} .carousel__arrow.carousel__arrow--left > div{background-image:url(https://www.pixelplanettoday.com/img/ui/left-arrow-icon-white.png)} .carousel__arrow-icon[data-v-9a069d34]{border-radius:0!important; box-shadow:none!important;background-color:currentColor!important;} */


/* .carousel__navigation--button[data-v-d998ce08]{
  border-radius:0!important;
} */
/* .carousel__navigation{
  margin-bottom:20px!important
} */

/* .product-sort select, select{
  border-radius:0!important;
} */
