/* stylesheet for shop.pixelplanettoday.com */




/* general typography */
*{
  font-family: 'VT323', monospace!important;
  font-size:22px!important;
}

p{
  font-size: 22px!important;
  line-height: 1.3em;
}

button,
a[type='button'],
button *,
a[type='button'] *{
    font-family: 'Press Start 2P', sans-serif!important;
    text-transform:uppercase!important;
    font-size:15px!important;
}

/* specific typography */
.product__title h1, .category__title h3 {
  font-family: 'Press Start 2P', sans-serif!important;
  text-transform: uppercase;
  font-size: 30px!important;
  line-height: 1.7!important;
}


/* nav/search bar */

/* cart */
.icon.header__cart{
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://www.pixelplanettoday.com/img/ui/cart-icon-white.png);
}
.icon.header__cart svg{
  opacity:0;
}
/* number of items in cart badge */
.square__icons-cart_iconCartNumber--3Rp4f{
  color:white!important;
}

/* search */
.search-bar *{
  border:none!important;
}
.search-bar input{
  color: inherit;
  font-family: 'Press Start 2P', sans-serif;
  font-size: inherit;
  width: 100%;
  display: block;
  background-color: transparent;
  max-width: 100%;
  padding-bottom: 10px!important;
  border: none;
  border-bottom: 3px solid currentColor!important;
  text-overflow: ellipsis;
}

/* home page */

/* search results page */

/* footer */
/* pixel facebook and instagram icons */
/* hide default svgs */
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d svg{
  opacity:0!important;
}
/* set shared image styles from Pixel website */
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d a[href*="facebook.com"],
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d a[href*="instagram.com"]{
  background-image:url("https://www.pixelplanettoday.com/img/icons/social-spritesheet.png");
  background-size: 600%;
  background-repeat: no-repeat;
  width:40px;
  height:40px;
  display:inline-block;
  vertical-align:middle;
  margin:0 3px;
}
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d a[href*="facebook.com"]{
  background-position:-198px 0px;
}
#ab489f20-bf4c-11ea-a6ef-a55ecb7e982d a[href*="instagram.com"]{
  background-position:-2px 0px;
}